.box {
    height: 700px;
    border: 2px solid red;
}

.child {
    width: 100px;
    height: 100px;
    border: 2px solid green;
    margin: 10px 0px 0px 10px;
    padding: 100px 50px 50px 100px;
}

.second {
    height: 900px;
    border: 2px solid blue;
}